* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.root-container {
  height: 100vh;
}

.logo {
  width: 50px;
  heigth: 50px;
  margin-right: 5px;
}

.logo-container {
  display: flex;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #eee;
}

.app-info {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  color: #636363;
}

.app-info-header {
  padding: 5px;
}

.login-container {
  width: 400px;
  background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  padding: 3em 2em 2em 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #636363;
}

.login-button {
  margin-top: 20px;
}

.social-login-wrapper {
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 45px;
  border: none;
  border-radius: 6%;
  background-color: #3B5998;
  cursor: pointer;
}

.social-button:hover {
  transform: scale(1.05);
}

.twitter {
  background-color: #4099FF;
  border: 1px solid #8accf4;
}

.gmail {
  background-color: #D34836;
}

.social-media-img {
  height: 25px;
}

.errorMessage {
  margin-top: 5px;
  color: tomato;
}

.playgroundContainer {
  display: flex;
  justify-content: space-between;
  height: 93%;
  padding: 5px;
}

.mapContainer {
  width: 70%;
  height: 80%;
}

.messageBoxContainer {
  width: 25%
}

.message-box {
  height: 50%;
}

.chat-body {
  height: 85%;
  max-height: 85%;
  overflow: auto;
}

.chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
}

.default-box {
  height: 50%;
}
